.jiro{

    border:5px #14b8a7 solid;
    border-radius: 20px;
    padding:20px;
    .profile{
        border-radius: 50%;
        height:200px;
        width:200px;
    }
 
      @keyframes quoteshadow {
        0% {
            color: white;
        }
        50%{
            color:  #14b8a7;
    
        }
    
        100%{
            color: white;
        }
      }
      @keyframes heartcolor {
        0% {
            color: white;
        }
        50%{
            color:  #e02514;
    
        }
    
        100%{
            color: white;
        }
      }
    
    .desc{
        border-radius: 10px;
        background-color: #156a62;
        margin:20px;
        width:300px;
        
    }
    .about-header{
        font-weight:bolder;
        text-decoration: underline;
    }
    .personal-header{
        font-size:20px;
        font-weight:bolder;
    }
    .info{
        width:50%;
        padding-bottom:20px;
        margin-bottom:20px;
        border-radius: 10px;
        background-color: #076057;
    }
    .familiar{
        background-color: #0b5f56!important;
    }
    .icon{
        height:50px;
        width:50px;
        margin:10px 10px;
    }
    .card{
        border:3px solid rgba(255, 255, 255,0.5);
        border-radius:10px;
        padding:5px;
        height:75px;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: left;
    }
    h4{
        text-align: center;
        background-color: #14b8a7;
        width: 100%;
        padding:10px;
        margin:0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bolder;
    }
    
    .desc p{
        margin:20px;
    }
    
    .personal-detail{
        margin-top: 20px;
    }
    .badge-container{
        padding:20px;
        padding-bottom:0px;
    }
    .quote {
        font-weight: bolder;
        padding:20px;
        margin:10px;

        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        animation-name: quoteshadow;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    .name{
        font-size: 20px;
        font-weight:900;
        color:#14b8a7
    }
    .detail{
        width:75%;
        margin:20px;


    }
    .badge-container > p{
        padding:5px 10px;
        border:0.5px solid white;
        border-radius:5px;
        background-color: transparent;
        color:bisque;
    }

    .badge-container > p:hover{
        background-color: white;
        color:rgb(44, 44, 139);
        font-weight: bold;
        cursor: pointer;
    }
    .about{
        margin-bottom:20px;
    }
    .j-footer{
        position:absolute;
        bottom:0;
        width:100%;
    }
}